ansible-advancedlinux/Ansible_ARM.ps1
apprenda60-express/provisionApprendaTestScript.ps1
apprenda60-small/provisionApprendaTestScript.ps1
apprenda60-express/provisionApprendaTestScript.ps1

# local template parameters
azuredeploy.parameters.local.*

# emacs autosaves
auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el

log

openshift-origin-rhel/azuredeploy.parameters.json
201-key-vault-secret-create/azuredeploy.parameters.json
101-vm-simple-linux/azuredeploy.parameters.json
multi-vm-chef-template-ubuntu-vm/azuredeploy.parameters.json
gluster-file-system/azuredeploy.parameters.json

.vscode
node_modules
manageiq-install.ps
Nese_OMS_NEstedforOMSWS.json
